<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div id="root">
        <div>
            <h3>node</h3>
            name <input type="text" v-model="node.name">
            value <input type="text" v-model="node.value">
            category <input type="text" v-model="node.category">
            <button @click="add">add</button>
        </div>
        <div>
            <h3>links</h3>
            source <input type="text" v-mode="links.source">
            target <input type="text" v-mode="links.target">
        </div>

        <hr>
        {{items}}
    </div>
    <script src='https://cdn.bootcss.com/vue/2.5.16/vue.min.js'></script>
    <script>
        new Vue({
            el: '#root',
            data() {
                return {
                    node: {
                        name: '',
                        value: '',
                        category: '',
                    },
                    links:{
                        source:'',
                        target:''
                    },
                    items: [], // nodes all
                }
            },
            created() {
                this.findAll()
            },
            methods: {
                findAll() {
                    fetch('http://127.0.0.1:8080/node/findall', {})
                        .then(res => {
                            return res.json()
                        }).then(data => {
                            this.items = data
                        })
                },
                add() {
                    fetch('http://127.0.0.1:8080/node/create', {
                        method: 'post',
                        body: JSON.stringify({
                            name: this.node.name,
                            value: Number(this.node.value),
                            category: Number(this.node.category)
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(res => {
                        return res.json()
                    }).then(data => {
                        this.resetUserInput()
                    })
                },
                resetUserInput() {
                    this.node.name = ""
                    this.node.value = ""
                    this.node.category = ""
                }
            },
        })
    </script>
</body>

</html>